<script type="text/template" id="headerName-template">
  <h1 id="userName"><%= name %></h1>
</script>


<script type="text/template" id="circlePrompt-template">
  <% if (userCircles.length > 0) { %>
    <h1>Select or <a id="createCircleLink" href="#">create a circle</a></h1>
  <% } else { %>
    <h1><a id="createCircleLink" href="#">create a circle</a></h1>
  <% } %>
</script>
